.header{
	background-image: url(https://i.pinimg.com/originals/9f/a0/57/9fa05709be2bd6b96da9d00bfa39e26f.png);
	background-size: cover;
	position: relative;
	height: 60vh;
	color: white;
}

.blure{
	position: absolute;
	z-index: -1;
	background-color: rgba(0,0,0,0.3);
	height: 100%;
	top: 0;
	width: 100%;
}

.group-list{
	background-image: url(https://i.pinimg.com/originals/48/73/ee/4873ee217727b9ec0dc8c9f83874b7bf.jpg); 
	background-size: contain;
	padding-top: 40px;
	padding-bottom: 40px;
	z-index: 0;
}

.group-item{
	background-image: url(https://www.publicdomainpictures.net/pictures/180000/velka/sea-background-texture-1466765427sfk.jpg);
	position: relative;
	z-index: 1;
	
}

.blure-white{
	position: absolute;
	z-index: -1;
	background-color: rgba(255,255,255, .3);
	height: 100%;
	top: 0;
	width: 100%;
}