@media (min-width: 48em) {
  html {
    font-size: 18px;
  }
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}

.container {
  max-width: 60rem;
}

.navigation{
  background-color: #f9f9f9;
}

.nav-link {
  position: relative;
  padding: 1rem;
  font-weight: 500;
  color: black;
}
.nav-link:hover,
.nav-link:focus {
  color: green;
  background-color: transparent;
}

/* Active state gets a caret at the bottom */
.nav-link.active {
  color: green;
}
.nav-link.active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -.3rem;
  vertical-align: middle;
  content: "";
  border-right: .3rem solid transparent;
  border-bottom: .3rem solid;
  border-left: .3rem solid transparent;
}

input[type=radio] {
    border: 0px;
    width: 100%;
    height: 20px;
}

form{
  margin-top: 20px;
}

.display-no{
  display: none;
}

.shown{
  display: block;
}

.header{
  background-image: url(https://i.pinimg.com/originals/9f/a0/57/9fa05709be2bd6b96da9d00bfa39e26f.png);
  background-size: cover;
  position: relative;
  height: 60vh;
  color: white;
}

.blure{
  position: absolute;
  z-index: -1;
  background-color: rgba(0,0,0,0.3);
  height: 100%;
  top: 0;
  width: 100%;
}

.blure-white{
  position: absolute;
  z-index: -1;
  background-color: rgba(255,255,255, .3);
  height: 100%;
  top: 0;
  width: 100%;
}

footer {
  width: 100%;
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}

footer p:last-child {
  margin-bottom: 0;
} 